.about {
    background-color: hsl(0, 0%, 100%);
    padding-top: 44px;
    padding-bottom: 39px;   
    &__title {
        margin-bottom: 13px;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        
        color: #10161D;
        text-transform: uppercase;
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;

        color: #10161D;
    }
    &__img {
        text-align: center;
    }
    &__list {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;

        color: #10161D;
        li {
            position: relative;
            padding-left: 20px;
            &::before {
                content: "";
                position: absolute;
                top: 7px;
                left: 7px;              

                display: block;
                width: 4px;
                height: 4px;

                background: #000;
                border-radius: 50%;
            }
        } 

    }

}

@media (min-width: $screen-table) {

}

@media (min-width: $screen-desktop) {
    .about {
        &__title {
            margin-bottom: 9px;
            font-weight: 700;
            font-weight: 700;
            font-size: 64px;
            line-height: 75px;
            
            color: #10161D;
        }
        &__text {
            font-weight: 300;
            font-size: 26px;
            line-height: 32px;
            
            color: #10161D;
        }
        &__list {
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
    
            color: #10161D;
            li {
                padding-left: 30px;
                font-weight: 300;
                font-size: 26px;
                line-height: 32px;

                color: #10161D;
                &::before {
                    content: "";
                    position: absolute;
                    top: 14px;
                    left: 7px;              
    
                    display: block;
                    width: 8px;
                    height: 8px;
    
                    background: #000;
                    border-radius: 50%;
                }
            }
        }
    }   
}
