.advantages {
    padding-top: 50px;
    &__title {
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;

        color: #000000;
    }
    &__text {
        margin-bottom: 56px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;

        color: #7C7C7C;
    }
    &__wrapp {
    }
    &__card {
        margin: 0;
        margin-bottom: 61px;
        max-width: 738px;
        position: relative;
        padding-top: 29px;
        padding-left: 14px;
        padding-right: 50px;
        padding-bottom: 30px;

        border-radius: 20px;
        &::after {
            content: "";

            position: absolute;
            top: -11px;
            right: 15px;
        

            display: block;
            width: 80px;
            height: 60px;



            background-repeat: no-repeat;
            background-size: contain;

        }
        &:nth-child(1) {
            background: linear-gradient(90deg, #3A8BFA 0%, #74BCF5 100%);
            &::after {
                background-image: url("./images/item-1.png");
            }
        }
        &:nth-child(2) {
            background: linear-gradient(90deg, #3BB392 0%, #39C977 100%);
            &::after {
                background-image: url("./images/item-2.png");
            }
        }
        &:nth-child(3) {
            background: linear-gradient(90deg, #E13DB4 0%, #FF908D 100%);
            &::after {
                background-image: url("./images/item-3.png");
            }
        }
    }

    &__card-title {
        margin-bottom: 14px;
        max-width: 233px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;

        color: #FFFFFF;
    }
    &__card-list {
    }
    &__card-item {
        margin-bottom: 12px;
        position: relative;
        padding-left: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */


        color: #FFFFFF;
        &::after {
            content: "";

            position: absolute;
            top: 2px;
            left: 3px;

            display: block;
            width: 15px;
            height: 15px;

            background: #fff;

        }
    }
}

@media (min-width: $screen-table) {
    .advantages {

    }
    
}

@media (min-width: $screen-desktop) {
    .advantages {
        padding-top: 126px;
        &__title {
            margin-bottom: 22px;
            text-align: left;
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            /* identical to box height */
            
            text-transform: uppercase;
            
            color: #1E1E1E;
        }
        &__text { 
            margin-bottom: 76px ;  
            max-width: 728px;
            text-align: left;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;

            color: #7C7C7C;
        }
        &__card-wrap {
            display: flex;
            justify-content: space-between;
            &-1 {
                margin-left: 20px;
            }
        }
        
        &__card {

            margin-bottom: 115px;
            max-width: 738px;
            position: relative;
            padding-top: 34px;
            padding-left: 27px;
            padding-right: 50px;
            padding-bottom: 60px;
    
            border-radius: 20px;
            &-item {
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
            }
            &-title {
                margin-bottom: 32px;
                max-width: 430px;
                font-size: 28px;
                line-height: 34px;
                text-transform: uppercase;

                color: #FFFFFF;
            }
            &::after {
                content: "";
    
                position: absolute;
                top: -11px;
                right: 68px;
            
    
                display: block;
                width: 160px;
                height: 130px;
    
    
    
                background-repeat: no-repeat;
                background-size: contain;
    
            }
            &::before {
                content: "";
    
                position: absolute;

            
    
                display: block;
                width: 361px;
                height: 430px;

                background-repeat: no-repeat;
                background-size: contain;
    
            }
            &:nth-child(1) {
                background: linear-gradient(90deg, #3A8BFA 0%, #74BCF5 100%);
                &::after {
                    background-image: url("./images/item-1-dest.png");
                }
                &::before {
                    background-image: url("./images/number-2.png");
                    top: 515px;
                    left: 8px;
                }
            }
            &:nth-child(2) {
                margin-left: auto;
                background: linear-gradient(90deg, #3BB392 0%, #39C977 100%);
                &::after {
                    background-image: url("./images/item-2-dest.png");
                    background-size: cover;
                    width: 170px;
                    height: 148px;
                    top: -60px;
                    right: 68px;
                }
                &::before {
                    background-image: url("./images/number-1.png");
                    top: -521px;
                    right: -120px;
                }

            }
            &:nth-child(3) {
                background: linear-gradient(90deg, #E13DB4 0%, #FF908D 100%);
                &::after {
                    background-image: url('./images/item-3-dest.png');
                    background-size: cover;
                    width: 198px;
                    height: 173px;
                    top: -81px;
                    right: 60px;
                }
            }
        }

        
    }
    
}

