.contact {
  padding-top: 50px;
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    
    color: #10161D;
  }
  &__list-1 {
      margin-bottom: 16px;
      li:nth-child(1) {
        margin-bottom: 7px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        
        
        color: #9A30D7;
      }

      li:nth-child(2) {
        a {

          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */
        
          color: #10161D;
        } 
      }
  }
  &__list-2 {
    margin-bottom: 20px;
    display: flex;
  }
}

@media (min-width: $screen-table) {
    
}

@media (min-width: $screen-desktop) {
 
}