.footer {
    padding-top: 34px;
    li,a {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #10161D;
        margin-bottom: 13px;
    };
};

@media (min-width: $screen-desktop) {
    .footer {
    
    }
}

